


.header {

    text-align: center;
    padding: 25px;
    display:inline-flex;
    

    
}

.header-option {
    margin-right: 50px;
    align-content: center;
    text-decoration: none;
    

}
.header-text {
    text-decoration: none;
    
    color: black;

}

.content {
    display:block;
    align-items: center;
    background-color: aqua;
}
.ico_header {
    width: 50px;
    height: 50px;
    
    
}
.ico_profile {
    width: 30px;
    height: 30px;
    
    padding-bottom: 20px;
}
.ico_messages {
    width: 40px;
    height: 40px;
    
    padding-bottom: 10px;
}
