


.header {

    text-align: center;
    padding: 25px;
    display:inline-flex;
    

    
}

.header-option {
    margin-right: 50px;
    align-content: center;
    text-decoration: none;
    

}
.header-text {
    text-decoration: none;
    
    color: black;

}

.content {
    display:block;
    align-items: center;
    background-color: aqua;
}
.ico {
    width: 35px;
    height: 35px;
}
.ico_friends {
    width: 45px;
    height: 35px;
    

}
.ico_user {
    width: 35px;
    height: 30px;
    
    margin-top: 5px;
}
.logo {
    margin:10px;
    width: 70px;
    height: 70px;


}
