.login-register-row {
    display: flex;
}

.login-register-column {
    flex: 50%;
}

.login-register-image {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.login-register-panel {
    text-align: center;
    
    box-shadow: 0px 30px 80px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    background-color: var(--white_color);

    padding: 50px 75px 50px 75px;
}

.login-panel-width {
    width: 200px;
}

.register-panel-width {
    width: 250px;
}

.login-register-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 50px;
}

.center {
    display: flex;
    align-items: center;     /* center horizontal */
    justify-content: center; /* center vertical   */
    flex-direction: column;
}

.ico-25px {
    width: 25px;
    height: 25px;
}

.horizontal-input {
    display: flex;
    align-items: center;
    margin-top: 20px;
} 

.link-text {
    font-size: 15px;
    color: var(--blue_color);

    margin-top: 25px;

    text-decoration: none;
    display: block;
}

.link-text:hover {
    color: var(--selected_blue_color);
    cursor: pointer;
}