@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --font: 'Poppins';
    --bg_button: #0071F2;
    --gray_color: #D9D9D9;
    --selected_button: #0058bd;
}

* {
    margin: 0;
    padding: 0;

    font-family: var(--font);
}

/************************************


               Buttons


*************************************/

.link-button {
    background-color: var(--bg_button);
    color: white;

    display: flex;
    justify-content: center;
    text-decoration: none;
    
    border: none;
    border-radius: 25px;

    padding: 10px;
    margin-top: 35px;
}

button {
    background-color: var(--bg_button);
    color: white;

    width: 100%;
    
    border: none;
    border-radius: 25px;

    padding: 10px;
    margin-top: 35px;
}

.link-button:hover, button:hover {
    cursor: pointer;
    background-color: var(--selected_button);
}

/*******************************


          Input Fields 


********************************/

.input-form {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
    min-width: 100px;
}

.text-input {
    display: block;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid black;
    margin: 10px 0 10px 0;
    outline: none;
}

.text-input, .label-input {
    transition: 0.4s ease;
    font-size: 15px;
}

.label-input {
    transform: translate(4px, -14px) scale(1.02);
    margin-bottom: 2px;
    cursor: text;
    transform-origin: left top;
    color: #757575;
    position: absolute; 
}

.text-input::placeholder {
    opacity: 0;
}

.text-input:focus,
.text-input:not(:placeholder-shown) {
    border-bottom: 2px solid #000000;
}

.text-input:not(:placeholder-shown) ~ .label-input, 
.text-input:focus ~ .label-input {
    transform: translate(0px, -35px) scale(0.8);
    padding-left: 0px;
    color: black;
}     

.login-text {
    font-size: 15px;
    color: var(--bg_button);

    margin-top: 25px;

    text-decoration: none;
    display: block;
}

/* Clases para el login y el registro */

body {
    overflow: hidden;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.image {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 50px;
}

.center {
    display: flex;
    align-items: center; /* center horizontal */
    justify-content: center; /* center vertical */
    flex-direction: column;
}

.ico {
    width: 25px;
    height: 25px;
}

.horizontal {
    display: flex;
    align-items: center;
    margin-top: 20px;
} 

/* Clases para la Register View */

.panel {
    text-align: center;
    width: 250px;
    
    box-shadow: 0px 30px 80px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    padding: 35px 75px 50px 75px;
}

.title {
    font-size: 35px;
    font-weight: 700;
} 

.login-text {
    font-size: 15px;
    color: var(--bg_button);
    margin-top: 25px;
}

.login-text:hover {
    color: var(--selected_button);
    cursor: pointer;
}

.horizontal {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.circle-gray {
    height: 15px;
    width: 15px;
    border: 4px solid var(--gray_color);
    border-radius: 50%;
    display: inline-block;
}

.circle-blue {
    height: 15px;
    width: 15px;
    border: 4px solid var(--bg_button);
    background-color: var(--bg_button);
    border-radius: 50%;
    display: inline-block;
}

.line-container {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.text-container {
    display: flex;
    margin-top: 15px;
}

.bar-text1 {
    margin-right: 25px;
}

.bar-text2 {
    margin-left: 25px;
}

.bar-container {
    margin: 25px 0 50px 0px;
}

.input-file {
    display: none;
}

.label-file {
    border: 1px solid #ccc;
    border-radius: 25px;

    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    font-size: 15px;
    color: black;
}

.input-file:focus, .label-file:hover {
    background-color: var(--gray_color);
    border-radius: 25px;
}